@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Style untuk card paket harga */
.container.pricing-table {
    padding-top: 30px;
}

.row {
    margin-top: 10px;
}

.pricing-card {
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 630px;
}

/* Header bagian atas card */
.pricing-header {
    padding: 20px;
    background-color: #f3e8ff;
}

.badge {
    display: inline-block;
    padding: 6px 12px;
    background-color: #a855f7;
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
}

.headprice {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}

.starting-from {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

.price {
    font-size: 30px;
    font-weight: 600;
    color: #333;
}

/* Isi body card */
.pricing-body {
    flex-grow: 1;
    padding: 20px;
}

.custom-feature-list ul {
    list-style-type: none;
    padding-left: 15px;
}

.custom-feature-list li {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
}

.custom-feature-list i {
    color: #a855f7;
    margin-right: 10px;
}

.pricing-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

.order-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a855f7;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    transform: translateY(-10px);
}

.order-btn:hover {
    background-color: #a855f7;
}

/* Efek Hover */
.pricing-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Responsif */
@media (max-width: 768px) {
    .pricing-card {
        margin-bottom: 20px;
    }
}


/* Tim card */
.team-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    height: 100%;
}

.team-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 20px;
}

.team-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}

.team-subtitle {
    font-size: 1rem;
    color: #888;
}

.team-text {
    font-size: 0.9rem;
    color: #555;
}

.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}